/* 
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 /36 / 44 / 52 / 62 / 74 / 86 / 98



SPACING SYSTEM (px)
 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 120

PRIMARY COLORS: #495e57, #f4ce14

SECONDARY COLORS: #ee9972, #fbdabb, #edefee, #333333

Shades: #fef8f1

Typefaces: Markazi Text, Karla

font-sizes:
Regular: 400
Medium: 500
Semibold:600
bold: 700

 */

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #edefee;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

/* GENERAL USE */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.carousel-container {
  background-color: #ee9972;
  display: flex;
  flex-wrap: nowrap;

  overflow: hidden;
}

.carousel-item {
  height: 20rem;
  min-width: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin-bottom-xl-sm {
  margin-bottom: 0.4rem;
}

.margin-bottom-md {
  margin-bottom: 1.6rem;
}

.margin-bottom-xl-lg {
  margin-bottom: 9.6rem;
}

/* Header/Navigation */

.header-nav {
  padding: 0.8rem;
  width: 100%;
  padding: 0.8rem;
  border-bottom: 0.5rem solid #495e57;
}

.nav-flex-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-size: 1.4rem;
}

.nav-list-item {
  text-decoration: none;
  color: #333333;
  padding: 1.6rem;
}

/* Hero */
.hero-container {
  width: 120rem;
  margin: 0 auto;
  gap: 8.4rem;
}
.hero-section {
  margin-bottom: 9.6rem;
  padding: 3.2rem;
  background-color: #495e57;
  width: 120rem;
  height: auto;
  border-radius: 1.6rem;
}

.text-box {
  display: flex;
  flex-direction: column;
  color: #edefee;
}

.hero-title {
  font-size: 4.4rem;
  font-weight: 600;
  color: #f4ce14;
}

.hero-subtitle {
  font-weight: 500;
  font-size: 3.6rem;
  color: #ee9972;
}

.hero-description {
  width: 50rem;
  font-size: 1.6rem;
  line-height: 1;
}

.img-box img {
  width: 50rem;
  height: 40rem;
}

/* Menu */

.menu-section {
  gap: 4.8rem;
  margin-bottom: 9.6rem;
  flex-direction: column;
  padding: 4.8rem 6.4rem;
}

.menu-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.subheading {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.menu-btn {
  font-size: 2rem;
  background-color: #f4ce14;
  color: #333333;
  padding: 1.6rem;
  border-radius: 1.6rem;
}

.menu-btn:hover {
  background-color: #495e57;
  color: #edefee;
}

.menu-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8.4rem;
}
.dish-img {
  margin: 0 auto;
  width: 100%;
}

.dish-title {
  font-size: 2rem;
}

.dish-price {
  font-size: 2rem;
}

.dish-description {
  font-size: 1.6rem;
  line-height: 1.5;
}

.order-btn {
  background-color: #f4ce14;
  color: #333333;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.6rem;
  border-radius: 1.6rem;
}

.order-btn:hover {
  background-color: #495e57;
  color: #edefee;
}

/* Review */

.review-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ee9972;
  padding: 4.8rem 6.4rem;
  overflow: hidden;
}

.heading {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 4.8rem;
  color: #fef8f1;
}

.reviews {
  gap: 8rem;
  width: 120rem;
  justify-content: space-between;
}

.review {
  background-color: #fef8f1;
  width: 48rem;
  height: auto;
  padding: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);

  line-height: 1.6;
}

.customer-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.review-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}

.review-author {
  font-size: 1.6rem;
  font-weight: 500;
}

.review-text {
  font-size: 1.4rem;
  line-height: 1.5;
}

/* Booking */

.booking-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.booking-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;

  background-color: #fbdabb;
  border-radius: 1.6rem;
  width: 75rem;
  padding: 4.8rem;

  margin: 9.6rem 0;
  /* 
  background-image: url("./icons_assets/restaurant.jpg");
  background-repeat: no-repeat;
  background-position: center; */
}

.restaurant-img {
  width: 25rem;
  height: 15rem;
}

.data-field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.field-title {
  font-size: 2rem;
  font-weight: 500;
}

.input-field {
  border: 0.1rem solid #333333;
  border-radius: 1.6rem;
  text-align: center;
  color: #333333;
  font-size: 1.4rem;
}

.non-valid {
  font-size: 1.6rem;
  font-weight: 500;
  color: #b91c1c;
}

.occasion {
  background-color: #dfe1fe;
  border: none;
  padding: 0.8rem;
  text-align: center;
}

.occasion-placeholder {
  color: #dfe1fe;
}

.submit-btn {
  color: #333333;
  background-color: #f4ce14;
  border-radius: 2rem;
  width: 20rem;

  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.submit-btn:hover {
  background-color: #495e57;
  color: #edefee;
}

.submit-btn:disabled {
  content: "...Submitting";
  background-color: #333333;
  color: #dfe1fe;
}

/* Footer */
.footer-nav {
  border-top: 0.5rem solid #f4ce14;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3.2rem 0;
  width: 100%;
}

.footer-list {
  list-style: none;
}

.footer-list p {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.footer-list li {
  margin-bottom: 0.8rem;
}

.footer-list li:last-child {
  margin-bottom: 0;
}

.list-item,
.list-item-nav {
  text-decoration: none;
  font-size: 1.4rem;
  color: #333333;
}

.list-item-nav:link,
.list-item-nav:visited {
  text-decoration: none;
}

.list-item-nav:hover,
.list-item-nav:active {
  color: #edefee;
}
